
<div class="container" style="text-align:center">
    <div class="card card-body">
        <form method="post" action="/home/AddQuestion">
            <input name="title" type="text" class="form-control" placeholder="Title" />
            <p></p>
            <textarea name="text" rows="10" style="width: 600px" class="form-control" placeholder="Enter your question"></textarea>
            <p></p>
            <input name="tags" type="text" class="form-control" style="width: 200px" placeholder="Enter tags separated by commas" />
            <p></p>
            <button class="btn btn-info">Submit</button>
        </form>
    </div>

</div>